body{
  background-color: #2b5797;
}

.main-container {
  position: relative;
}

.main-container:before {
  content: '';
  position: absolute;
  left: 0;
  top: -46px;
  width: 100%;
  height: 80px;
  background: #2b5797;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-backface-visibility: hidden;
}

.main-container section {
  padding: 0 20px;
  padding-bottom: 10px;
  position: relative;
}

section#the-fest, section#events, section#contact {
  padding-top: 60px;
  padding-bottom: 60px;
}

.secondary-container {
  position: relative;
}

.secondary-container:before {
  content: '';
  position: absolute;
  left: 0;
  top:-46px;
  width: 100%;
  height: 80px;
  background: #2b5797;
  -webkit-transform: skewY(-2.5deg);
  -moz-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  -o-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
  -webkit-backface-visibility: hidden;
}